@mixin border($border-radius, $border-color, $padding, $margin-bottom, $color) {
  border: $border-radius, solid, $border-color;
  padding: $padding;
  margin-bottom: $margin-bottom;
  color: $color;
}